#body {
    -fx-background-image: url("file:/C:/Users/matheus.fgs/Desktop/The-Horror/Images/Fundo_de_Tela/Background.gif");
    -fx-background-size: cover;
    -fx-background-position: center;
}

#vbox{
    -fx-background-color: rgba(255, 255, 255, 0.68);
}

#button{
    -fx-padding: 20px;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
}

#image-filme{
    -fx-padding: 30px;
    -fx-background-color: black;
    -fx-background-radius: 20px;
}

#image-filme img:hover{
    -fx-background-color: white;
}

#footer{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#rodape-label{
    -fx-text-fill: white;
}